.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(9, 14, 22, 0.9);
  backdrop-filter: blur(10px);
}

.cadre {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logoTexte {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navLien {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navLien a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navLien a:hover {
  color: white;
}

.cnBtn {
  background-color: #ff8c32; 
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

/* --- MOBILE --- */

.croix {
  display: none; 
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

@media (max-width: 850px) {
  .actions {
    display: none;
  }

  .croix {
    display: flex; 
  }

  .navLien {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    background-color: #111b27;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  }

  .navLien.active {
    display: flex; /* S'affiche quand on clique */
  }

  .mobile {
    display: block;
  }
}

/* --- ANIMATION CROIX --- */
.croix.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.croix.open .bar:nth-child(2) {
  opacity: 0;
}

.croix.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}